<div class="table">
    <div class="row">
        <div class="cell1">
            <div id="center">
                <h5>Datos</h5>
                <hr><br>
                <ul>
                    <b>Nombres</b>
                    <p>{{ data.name }}</p>
                    <b>Edad</b>
                    <p>{{ data.edad }}</p>
                    <b>Rut</b>
                    <p>{{ data.rut }}</p>
                </ul>
                <div id="ex">
                    <h5>Historial Medico</h5>
                    <hr><br>
                    <b>Dicom</b><br>
                    <!--<img src="../../../images/mirror.png" class="mirror-icon pointer">-->
                    <button (click)=abrirModal()>
                        <mat-icon>collections</mat-icon>
                    </button>
                </div>
                <div id="ex">
                    <b>Informes previos</b><Br>
                    <tr *ngFor="let exam of bd" (click)="verExamen(exam)">
                        <ng-container *ngIf="exam.idPaciente == data.id">
                            <td>{{exam.Nombre}}</td>
                        </ng-container>
                    </tr>
                    <label></label><br>
                </div>
            </div>
        </div>
        <div class="cell2">
            <form>
                <div id="center">
                    <div>
                        <div>
                            <label>Médico</label>&nbsp;
                            <select #med (change)="evtselt2($event.target.value)">
                                <option *ngFor="let medi of user" value="{{medi.Nombre}}">{{medi.Nombre}}</option>
                            </select>&nbsp;&nbsp;&nbsp;
                            <label>Plantilla</label>&nbsp;&nbsp;
                            <select #plant (change)="evtselt($event.target.value)">
                                <option *ngFor="let plan of us" value="{{plan.nombre}}">{{plan.nombre}}</option>
                            </select>
                        </div><br>
                        <div id="ex">
                            <!--<label>Elegir firma medico</label><br>
                            <div>
                                <input id="exe" type="file" class="form-control-file"
                                    (change)="fileChanged($event)">&nbsp;<button (click)="cleanf()" id="c">
                                    <mat-icon>cancel</mat-icon>
                                </button><br>
                                <img *ngIf="profilePic[0]" [src]="profilePic[0]" class="img-thumbnail"><br>
                            </div><br>-->
                            <div>
                                <label>Declarar Medico informante: </label>
                                <select #medico (change)="evtselt3($event.target.value)">
                                    <option *ngFor="let me of m" value="{{me.id}}">{{me.Nombre}}</option>
                                </select><br>
                                <img *ngIf="profilePic[1]" [src]="profilePic[1]" class="img-thumbnail"><br>
                            </div>
                            <!--<p *ngIf="profilePic[0]">¿Desea añadir otra firma?</p>-->
                        </div>
                        <div>
                            <br>
                            <label>Fecha de examen</label>&nbsp;&nbsp;
                            <input id="ex" type="date" #fecf name="fecha" (change)="evtselt4($event.target.value)"><br><br>
                            <label>Título</label>&nbsp;&nbsp;
                            <input id="exs" type="text" #titulo (keydown)="evtselt5($event,'ti')" value="{{tit}}" placeholder="Título">&nbsp;&nbsp;<br><br>
                            <label>Examen Realizado</label>&nbsp;&nbsp;<br>
                            <textarea id="ex" class="aw" [(ngModel)]='ITAnte' (keydown)="evtselt5($event,'ex')" type="text" name="Antecedentes" value="{{ITAnte}}"></textarea>
                        </div>
                    </div>
                    <label>Técnica</label>&nbsp;&nbsp;<br>
                    <textarea id="ex" class="aw" type="text" #tecnica value="{{tec}}" (keydown)="evtselt5($event,'te')"
                        placeholder="Técnica"></textarea>
                    <br>
                    <h5>Observaciones</h5><br>
                    <div>
                        <button id="ex" (click)="toggleVoiceRecognition()">
                            <mat-icon>{{ started ? 'mic_off' : 'mic' }}</mat-icon>
                        </button>&nbsp;
                        <button id="ex" (click)="addH()">
                            <mat-icon>description</mat-icon>
                        </button>&nbsp;
                        <button id="ex" (click)="addI()">
                            <mat-icon>textsms</mat-icon>
                        </button>&nbsp;
                        <button id="ex" (click)="clean()">
                            <mat-icon>cancel</mat-icon>
                        </button>&nbsp;<br>
                        <textarea id="b" [(ngModel)]='InpuText' type="textarea" name="MSG" value="{{msg}}" lang="es" spellcheck="true">
                    </textarea>
                    </div>
                    <div>
                        <br>
                        <mat-icon>description</mat-icon>&nbsp;<label>Hallazgos</label>&nbsp;&nbsp;
                        <button id="ex" (click)="cleanh()">
                            <mat-icon>cancel</mat-icon>
                        </button>&nbsp;<br>
                        <textarea id="a" [(ngModel)]='ITHalla' type="text" name="Hallazgos" value="{{ITHalla}}" (keydown)="evtselt5($event,'ha')" (keyup.enter)="evtselt6($event)">
                        </textarea>
                        <br>
                        <mat-icon>textsms</mat-icon>&nbsp;<label>Impresión</label>&nbsp;
                        <button id="ex" (click)="cleani()">
                            <mat-icon>cancel</mat-icon>
                        </button>&nbsp;<br>
                        <textarea id="a" [(ngModel)]='ITImpre' type="text" name="Impresión" value="{{ITImpre}}" (keydown)="evtselt5($event,'im')" (keyup.enter)="evtselt6($event)">
                    </textarea>
                    </div>
                </div>
                <button id="ex"
                    (click)="generatePdf(med.value,titulo.value,tecnica.value,fecf.value,plant.value,medico.value)">Generar
                    Resumen
                    <mat-icon>feedback</mat-icon>
                </button>
            </form>
        </div>
        <div class="cell3">
            <br>
            <div id="center">
                <div id=pdf>
                    <iframe id="plugin" type="application/pdf" [src]="imge()"
                        stream-url="chrome-extension://mhjfbmdgcfjbbpaeojofohoefgiehjai/9998104a-f5f8-43cf-b25c-0a193ae75822"
                        headers="Content-Length: 11570 Content-Type: application/pdf" background-color="0xFF525659"
                        top-toolbar-height="36" javascript="allow" full-frame=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>