<body [class]="clase">
    <div class="table">
        <div class="row">
            <div class="cell1">
                <button type="button" id=ex (click)=cambiarModo()>Oscuro / Claro</button>
                <div id="center">
                    <h5>Datos</h5>
                    <hr><br>
                    <ul>
                        <b>Nombres</b>
                        <p>{{ data.name }}</p>
                        <b>Edad</b>
                        <p>{{ data.edad }}</p>
                        <b>Rut</b>
                        <p>{{ data.rut }}</p>
                    </ul>
                </div>
            </div>
            <div class="cell2">
                <form>
                    <div id="center">
                        <div>
                            <div>
                                <label>Médico</label>&nbsp;
                                <select #med (change)="evtselt2($event.target.value)">
                                    <option *ngFor="let medi of user" value="{{medi.Nombre}}">{{medi.Nombre}}</option>
                                </select>&nbsp;&nbsp;
                                <label>Plantilla</label>&nbsp;&nbsp;
                                <select #plant (change)="evtselt($event.target.value)">
                                    <option *ngFor="let plan of us" value="{{plan.nombre}}">{{plan.nombre}}</option>
                                </select>
                            </div><br>
                            <div id="ex">
                                <!--<label>Elegir firma medico</label><br>
                            <div>
                                <input id="exe" type="file" class="form-control-file"
                                    (change)="fileChanged($event)">&nbsp;<button (click)="cleanf()" id="c">
                                    <mat-icon>cancel</mat-icon>
                                </button><br>
                                <img *ngIf="profilePic[0]" [src]="profilePic[0]" class="img-thumbnail"><br>
                            </div><br>-->
                                <div>
                                    <label>Declarar Medico informante: </label>
                                    <select #medico (change)="evtselt3($event.target.value)">
                                        <option *ngFor="let me of m" value="{{me.id}}">{{me.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <br>
                                <label>Fecha de examen</label>&nbsp;&nbsp;
                                <input id="exs" type="date" #fecf name="fecha"
                                    (change)="evtselt4($event.target.value)"><br>
                                <label>Examen Realizado</label>&nbsp;&nbsp;<br>
                                <textarea id="ex" class="abs" [(ngModel)]='ITAnte'
                                    type="text" name="Antecedentes" value="{{ITAnte}}"></textarea>
                            </div>
                        </div>
                        <label>Técnica</label>&nbsp;&nbsp;<br>
                        <textarea id="ex" class="abs" [(ngModel)]='tec' 
                        type="text" name="tecnica" value="{{tec}}"></textarea>
                        <br>
                        <h5>Observaciones</h5>
                        <div>
                            <ng-keyboard-shortcuts [shortcuts]="shortcuts2"></ng-keyboard-shortcuts>
                            <button id="ex" (click)="Estado()">
                                <mat-icon>{{ started ? 'mic_off' : 'mic'}}</mat-icon>
                            </button>&nbsp;
                            <button id="ex" (click)="addH()">
                                <mat-icon>description</mat-icon>
                            </button>&nbsp;
                            <button id="ex" (click)="addI()">
                                <mat-icon>textsms</mat-icon>
                            </button>&nbsp;
                            <button id="ex" (click)="clean()">
                                <mat-icon>cancel</mat-icon>
                            </button>&nbsp;<br>
                            <textarea class="ab" value="{{temp}}">
                            </textarea>
                            <textarea class="ab" [(ngModel)]='InpuText' type="textarea" name="MSG"
                                value="{{InpuText}}">
                            </textarea>
                        </div>
                        <div>
                            <br>
                            <mat-icon>description</mat-icon>&nbsp;<label>Hallazgos</label>&nbsp;&nbsp;
                            <button id="ex" (click)="cleanh()">
                                <mat-icon>cancel</mat-icon>
                            </button>&nbsp;<br>
                            <ckeditor id="ck" [(ngModel)]="ITHalla" [config]="config" type="text" name="Hallazgos">
                        </ckeditor>
                            <br>
                            <mat-icon>textsms</mat-icon>&nbsp;<label>Impresión</label>&nbsp;
                            <button id="ex" (click)="cleani()">
                                <mat-icon>cancel</mat-icon>
                            </button>&nbsp;<br>
                            <ckeditor id="a" [(ngModel)]='ITImpre' type="text" name="Impresión" value="{{ITImpre}}">
                            </ckeditor>
                        </div><br>
                        <button id="ex"
                            (click)="generatePdf(med.value,fecf.value,plant.value,medico.value)">Generar
                            Resumen
                            <mat-icon>feedback</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
            <div class="cell3"><br>
                <div id="center">
                    <div id="ex" class="top">
                        <b>Informes previos</b><Br>
                        <!--<tr *ngFor="let exam of bd" (click)="verExamen(exam)">
                            <ng-container *ngIf="exam.idPaciente == data.id">
                                <td>{{exam.Nombre}}</td>
                            </ng-container> 
                        </tr>-->
                        <br>
                    </div>
                    <div class="mid">

                    </div>
                    <div id=pdf class="bot">
                        <h5>Historial Medico</h5>
                        <hr><br>
                        <b>Dicom</b><br>
                        <!--<img src="../../../images/mirror.png" class="mirror-icon pointer">-->
                        <button id=ex (click)=abrirModal()>
                            <mat-icon>collections</mat-icon>
                        </button>
                        <br>
                        <button id=ex (click)="imge()">Previsualizar</button>
                        <br>
                        <iframe *ngIf="iframe" id="plugin" type="application/pdf" [src]='img'
                            stream-url="chrome-extension://mhjfbmdgcfjbbpaeojofohoefgiehjai/9998104a-f5f8-43cf-b25c-0a193ae75822"
                            headers="Content-Length: 11570 Content-Type: application/pdf" background-color="0xFF525659"
                            top-toolbar-height="36" javascript="allow" full-frame=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>