div.table {
  display: table;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  border-collapse: collapse;
  //border: 1px solid red;
}
body {
  transition: 0.4s;
  background: #fff !important;
  color: black;
  width: auto;
  height: auto;
}
.black {
  background: #212121 !important;
  color: #b1b1b1;
  width:auto;
  height:auto;
  button {
    color: #b1b1b1;
    background: #212121;
  }
  input {
    color: rgba(163, 163, 162);
    background: #212121;
  }
  select {
    color: rgba(163, 163, 162);
    background: #212121;
  }
  option {
    color: rgb(163, 163, 162);
    background: #212121;
  }
  textarea {
    color: rgba(163, 163, 162);
    background: #212121;
  }
  #ITHalla,#ITImpre {
    color:#fff;
    background-color: #212121;
  }
}
.white {
  background: #fff !important;
  color: #000;
}
#ck {
  color: rgba(163, 163, 162) !important;
  background: #212121 !important;
}
div.row {
  display: table-row;
}
#center {
  margin: 5%;
}
.top {
  position: relative;
  top: 5px;
  left: 10px;
}
.mid {
  height: 50% !important;
}
.bot {
  bottom: 5px;
  right: 10px;
}
div.cell1 {
  display: table-cell;
  width: 18%;
  //border: 1px solid red;
}
div.cell2 {
  display: table-cell;
  width: 42%;
  //border: 1px solid red;
}
div.cell3 {
  display: table-cell;
  width: 40%;
  //border: 1px solid red;
}
#pdf {
  width: 1000;
}
div.colspan,
div.colspan + div.cell {
  border: 0;
}
div.colspan > div {
  width: 1px;
}
div.colspan > div > div {
  position: relative;
  width: 99px;
  overflow: hidden;
}
#a {
  width: 416px;
  height: 104px;
  border-radius: 5px;
  //border:1px solid black;
}
#ITHalla,#ITImpre {
  width: 100%;
  height: 104px;
  border:1px solid grey;
  border-radius: 10px;
  //color: #fff;
  //background-color: #212121;
  
}
#b {
  width: 256px;
  height: 58px;
  border-radius: 10px;
  //border:1px solid black;
}
#ex {
  border-radius: 10px;
  //background-color :#2d90fa;
  //color: #b1b1b1
}
.ex {
  border-radius: 5px;
  //color :#2d90fa;
}
#exs {
  border-radius: 10px;
  width: 256px;
}
#exe {
  border-radius: 5px solid black;
}
.img-thumbnail {
  width: 240px;
  height: 144px;
}
.aw {
  width: 400px;
  height: 52px;
}
#c {
  width: 40px;
  height: 30px;
  border-radius: 10px;
}
#as {
  width: 1366px;
  height: 100%;
}
#plugin {
  width: 510px;
  height: 400px;
}
#btn {
  margin-left: 48%;
  margin-right: 48%;
  margin-top: 1%;
  border-radius: 200px;
}
#btng {
  align-items: center;
  border-radius: 100px;
}
  button {
    padding-top: 0px !important;
  }
  .btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 35px 0 35px;
    background-color: #50b8e7;
    border: none;
    color: #fff;
    border-radius: 3px;
    box-shadow: none !important;
    outline: 0 !important;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  #abs{
    height: 36px !important;
    width: 90% !important;
    border-radius: 10px !important;
  }
  .abs{
    height: 36px !important;
    width: 35% !important;
    border-radius: 10px !important;
  }
  .abs2{
    height: 36px !important;
    width: 60% !important;
    border-radius: 10px !important;
  }
  input,
  textarea.abs{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: 36px;
    width: 100%;
    margin-bottom: 0px;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #323032;
    font-weight: 400;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    line-height: normal !important;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
    width: 35% !important;
    margin-bottom: 0px;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #323032;
    font-weight: 400;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    line-height: normal !important;
  }
  .ab {
    height: 110px !important;
    width: 40%;
    margin-bottom: 0px;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #323032;
    font-weight: 400;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    line-height: normal !important;
  }
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder { 
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5);
  }
  
  textarea:-moz-placeholder,
  select:-moz-placeholder {
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5);
  }
  
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5);
  }
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    font-weight: 400;
    color: rgba(130, 132, 143, 0.5);
  }
  textarea:focus,
  select:focus {
    box-shadow: none !important;
    border: 2px solid #ddd;
  }
  div[class^="channel-bgd-"] {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    position: absolute;
    margin-right: 15px;
    left: 0;
  }
  div[class^="channel-bgd-"] i {
    position: absolute !important;
    font-size: 36px !important;
    color: #fff !important;
    line-height: 50px !important;
    left: 2px !important;
    top: 0 !important;
  }
