<!--<mat-toolbar color=primary class="dsa">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.php" style="color: white !important;"><mat-icon>home</mat-icon>
        </a>
    </div>
    <div>
        <button mat-menu class="men"><mat-icon>calendar_today</mat-icon><span>Calendario de citas</span></button>
    </div>
    <div>
        &nbsp;<a href="#"><span>Pacientes</span></a>
    </div>
    <div>
        <button mat-menu class="men" [matMenuTriggerFor]="belowMenu"><span>Traza</span></button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button class="item" mat-menu-item [matMenuTriggerFor]="belowMEnu2"><span>Traza Completa</span></button>
            <mat-menu #belowMEnu2="matMenu" yPosition="below">
                <button class="item2" mat-menu-item><span>Búsqueda</span></button>
                <button class="item2" mat-menu-item><span>Agendados</span></button>
                <button class="item2" mat-menu-item><span>Confirmados</span></button>
                <button class="item2" mat-menu-item><span>Pagados</span></button>
                <button class="item2" mat-menu-item><span>En Espera</span></button>
                <button class="item2" mat-menu-item><span>Ingresados</span></button>
                <button class="item2" mat-menu-item><span>Finalizados</span></button>
                <button class="item2" mat-menu-item><span>Asignados</span></button>
                <button class="item2" mat-menu-item><span>Tipeados</span></button>
                <button class="item2" mat-menu-item><span>Validados</span></button>
                <button class="item2" mat-menu-item><span>Despachados</span></button>
            </mat-menu>
            <button class="item" mat-menu-item [matMenuTriggerFor]="below"><span>Traza Exámenes</span></button>
            <mat-menu #below="matMenu" yPosition="below">
                <button class="item2" mat-menu-item [matMenuTriggerFor]="belowMenu4"><span>Traza Atención</span></button>
                <mat-menu #belowMenu4="matMenu" yPosition="below">
                    <button class="item2" mat-menu-item><span>En Espera</span></button>
                    <button class="item2" mat-menu-item><span>Ingresado</span></button>
                    <button class="item2" mat-menu-item><span>Finalizados</span></button>
                    <button class="item2" mat-menu-item><span>Despacho</span></button>
                </mat-menu>
                <button class="item2" mat-menu-item [matMenuTriggerFor]="belowMenu5"><span>Traza Informes</span></button>
                <mat-menu #belowMenu5="matMenu" yPosition="below">
                    <button class="item2" mat-menu-item><span>Plantillas</span></button>
                    <button class="item2" mat-menu-item><span>Finalizados</span></button>
                    <button class="item2" mat-menu-item><span>Asignados</span></button>
                    <button class="item2" mat-menu-item><span>Tipeados</span></button>
                    <button class="item2" mat-menu-item><span>Validados</span></button>
                </mat-menu>
            
            </mat-menu>
            <button class="item" mat-menu-item [matMenuTriggerFor]="belowMenu6"><span>Traza Consulta Médica</span></button>
            <mat-menu #belowMenu6="matMenu" yPosition="below">
                <button class="item2" mat-menu-item><span>Búsqueda</span></button>
                <button class="item2" mat-menu-item><span>Agendados</span></button>
                <button class="item2" mat-menu-item><span>Confirmados</span></button>
                <button class="item2" mat-menu-item><span>Pagados</span></button>
                <button class="item2" mat-menu-item><span>En Espera</span></button>
                <button class="item2" mat-menu-item><span>Ingresados</span></button>
                <button class="item2" mat-menu-item><span>Finalizados</span></button>
            </mat-menu>
            <button class="item" mat-menu-item><span>Almacenamiento</span></button>
        </mat-menu>
    </div>
    <div>
        <button mat-menu class="men" [matMenuTriggerFor]="Menu2"><span>Configuración</span></button>
        <mat-menu #Menu2="matMenu" yPosition="below">
            <button class="item" mat-menu-item [matMenuTriggerFor]="Menu21"><span>Agendas</span></button>
            <mat-menu #Menu21="matMenu" yPosition="below">
                <button class="item2" mat-menu-item><span>Ver Agendas</span></button>
                <button class="item2" mat-menu-item><span>Horarios</span></button>
                <button class="item2" mat-menu-item><span>Agendas de usuario</span></button>
            </mat-menu>
            <button class="item" mat-menu-item><span>Ver Procedimientos</span></button>

            <button class="item" mat-menu-item [matMenuTriggerFor]="Menu22"><span>Convenios</span></button>
            <mat-menu #Menu22="matMenu" yPosition="below">
                <button class="item2" mat-menu-item><span>Actualizar Convenios</span></button>
                <button class="item2" mat-menu-item><span>Prestadores</span></button>
                <button class="item2" mat-menu-item><a class="b" href="inc/main.php?module=prevision&amp;type=agreement&amp;filter="><span>Previsión</span></a></button>
            </mat-menu>

            <button class="item" mat-menu-item [matMenuTriggerFor]="Menu23"><span>Gestión</span></button>
        <mat-menu #Menu23="matMenu" yPosition="below"> 
            <button class="item" mat-menu-item [matMenuTriggerFor]="Menu231">Personas</button>
            <mat-menu #Menu231="matMenu" yPosition="below">
                <button class="item2" mat-menu-item><span>Tipos de usuarios</span></button>
                <button class="item2" mat-menu-item><span>Usuarios</span></button>
                <button class="item2" mat-menu-item><span>Empleados</span></button>
                <button class="item2" mat-menu-item><span>Médico Tratante</span></button>
            </mat-menu>
        </mat-menu>
            <button class="item" mat-menu-item><span>Sucursales/Procedencias</span></button>

            <button class="item" mat-menu-item><span>Bancos</span></button>

            <button class="item" mat-menu-item [matMenuTriggerFor]="Menu24">Insumos</button>
            <mat-menu #Menu24="matMenu" yPosition="below">
                <button class="item2" mat-menu-item>Tipo de Insumo</button>
                <button class="item2" mat-menu-item>Insumos</button>
            </mat-menu>
            <button class="item" mat-menu-item><span>Roles</span></button>

            <button class="item" mat-menu-item><span>Logs</span></button>

            <button class="item" mat-menu-item [matMenuTriggerFor]="Menu25"><span>Configuración del Cliente</span></button>
            <mat-menu #Menu25="matMenu" yPosition="below">
                <button class="item2" mat-menu-item><span>Nodos (Pacs)</span></button>
                <button class="item2" mat-menu-item><span>Datos Facturación</span></button>
            </mat-menu>
        </mat-menu>
    </div>
</mat-toolbar>-->
<router-outlet></router-outlet>