.black {
  background: #212121 !important;
  color: rgba(163, 163, 162, 0.822) !important;
}
button {
  background-color: #2d90fa;
  border: 1px #2d90fa;
  font-size: 16px !important;
  margin-right: 5px;
  color: #fff;
}
span {
  text-align: center !important;
  text-anchor: center !important;
  margin-bottom: 5px;
}
.item {
  background-color: #fff;
  width: 200px;
  height: 30px;
  margin-top: 5px;
  font-size: 12px !important;
  color: #000000;
}
.item2 {
  background-color: #fff;
  height: 30px !important;
  width: 150px;
  font-size: 12px !important;
  color: #000000;
}
a {
  color: #fff !important;
}
.b {
  color: #000 !important;
}
.men {
  background-color: #2d90fa;
  border: 1px #2d90fa;
  height: 32px !important;
  color: #fff !important;
}
div.table {
  display: table;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  border-collapse: collapse;
  //border: 1px solid red;
}
div.row {
  display: table-row;
}
#center {
  margin: 5%;
}
div.cell1 {
  display: table-cell;
  width: 25%;
  //border: 1px solid red;
}
div.cell2 {
  display: table-cell;
  width: 40%;
  //border: 1px solid red;
}
div.cell3 {
  display: table-cell;
  width: 45%;
  //border: 1px solid red;
}
#pdf {
  width: 1000;
}
#a {
  width: 416px;
  height: 104px;
  border-radius: 5px;
  //border:1px solid black;
}
#b {
  width: 256px;
  height: 58px;
  border-radius: 5px;
  //border:1px solid black;
}
#ex {
  border-radius: 5px;
}
#exs {
  border-radius: 5px;
  width: 256px;
}
#exe {
  border-radius: 5px solid black;
}
.aw {
  width: 400px;
  height: 52px;
}
#c {
  width: 40px;
  height: 30px;
  border-radius: 10px;
}
#as {
  width: 1366px;
  height: 100%;
}
#plugin {
  width: 610px;
  height: 800px;
}
#btn {
  margin-left: 48%;
  margin-right: 48%;
  margin-top: 1%;
  border-radius: 200px;
}
#btng {
  align-items: center;
  border-radius: 100px;
}
