#as{
    width: 1366px;
    height: 100%;
}
#plugin { 
    width: 610px;
    height: 500px;
    border-radius: 10px;
}
#btn {
  margin-left: 48%;
  margin-right: 48%;
  margin-top: 1%;
  border-radius: 200px;
}
#btng {
  align-items: center;
  border-radius: 100px;
}
#center {
  margin-left: 50%;

}