<div><button (click)="dispose()" id="btn">
    <mat-icon>arrow_back</mat-icon>
</button>&nbsp;
<iframe id="plugin" type="application/pdf" [src]="imge()"
    stream-url="chrome-extension://mhjfbmdgcfjbbpaeojofohoefgiehjai/9998104a-f5f8-43cf-b25c-0a193ae75822"
    headers="Content-Length: 11570 Content-Type: application/pdf" background-color="0xFF525659" top-toolbar-height="36"
    javascript="allow" full-frame="true"></iframe>
<div id="center">
    <button id="btng">
        <mat-icon>save</mat-icon>
    </button>
</div></div>